tr {
    transition: all .05s ease;
    width: 100%;
    display: flex;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    margin-top: 10px;
}
td {
    padding: 10px;
    height: 30px;
    width: 100px;
}

tr:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    cursor: pointer;
}

a {
    color: black;
}